services:
  frontend:
    image: nginx:alpine
    container_name: fe.monk.house
    ports:
      - "3000:80"
    volumes:
      - ./dist:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped
    networks:
      - nginx_network
networks:
  nginx_network:
    external: true
