services:
  pocketbase:
    build: .
    container_name: monk_house
    volumes:
      - ./pb:/app
    ports:
      - "8090:8090"
    restart: unless-stopped
    networks:
      - nginx_network
networks:
  nginx_network:
    external: true
